footer {
    background-color: #004547;
    padding: 50px 30px;
}

footer a {
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-weight: 500;
}

footer h3 {
    color: white;
    font-size: 15px;
    font-weight: 500;
    /* margin-top: 30px; */
}

footer p {
    color: #ffffff97;
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0 0;
}


@keyframes anime {
    0% {
        opacity: 0;
        right: -300px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes anime2 {
    0% {
        opacity: 0;
        left: -300px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes anime3 {
    0% {
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}


#logo span {
    position: relative;
}

#logo span#b {
    color: #ffffff;
    animation: anime2 1s linear;
}

#logo span#m {
    animation: anime 1s linear;
}